body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body{
    height: 100%;
}

img{
    width: 100%;
    height: 200px;
}

.CabecalhoRodape{
    text-align: center;
    background-color: rgb(223, 128, 19);
    color: White;
    padding: 15px 0px;
    font-size: 18px;

}

h1{
    text-align: center;
    text-align: 42px;
}

.conteudo{
    margin: 40px 225px;
    line-height: 32px;
}

.cards{
    display: inline;
    width: 30%;
}